@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

h1 {
    font-family: "Lilita One", sans-serif;
    color: rgb(176, 176, 169);
    font-size: 80px;
}

table {
    width: 100%;
    border: 1px solid black;
    background-color: rgba(253, 253, 253, 0.571);
}

th,
td {
    padding: 10px;
}

th {
    text-align: left;
}

body {
    background-image: url("imagenes/imagen_gym.jpg");
    background-size: cover;
    font-family: "Lilita One", sans-serif;
}

dialog {
    z-index: 10;
    position: static;

}

.botonera {
    display: grid;
}

.botonera a {

    border-radius: 25px;
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    color: rgb(100, 82, 82);
    background-color: rgb(214, 220, 224);

}

@media (width < 600px) {
    .botonera a {
        grid-template-columns: auto;

    }

}

@media (width >=600px) {
    .botonera a {
        grid-template-columns: auto auto auto;

    }

}

.ropa img {
    width: 80%;
    height: 80%;
}

.ropa a {
    font-size: 1.2em;
    margin: auto;
}

@media (width>=800px) {
    .Tienda {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

h2 {
    font-family: "Lilita One", sans-serif;
    color: rgb(176, 176, 169);
    font-size: 40px;
}